@model List<BlogMVCApp.Models.Menu>
<nav id="colorlib-main-menu" role="navigation">
    <ul>
        @Html.ActionLink("Home", "Index", "Home")

        @foreach (var menu in Model)
        {
            <li>@Html.ActionLink(menu.Name, menu.ActionName, menu.ControllerName)</li>
        }
    </ul>
</nav>
        